<footer>
                    <div id="footer" class="container hidden-print">
      <div class="row">
        <div class="col-md-4  col-lg-3" id="info">
          <h4>Connect with us</h4>
          <ul class="list-unstyled">
            <li>
              <a href="/contactus">Contact us</a>
            </li>

  </ul>
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-phone"></i>
              <span>720 259 9191</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <span>info@archethought.com</span>
            </li>
          </ul>
          <h2>
            <a href="https://www.facebook.com/archethought/">
              <i class="fa fa-facebook-square"></i>
            </a>

            <a href="https://www.linkedin.com/company/archethought/">
              <i class="fa fa-linkedin"></i>
            </a>


            <a href="https://github.com/Archethought">
              <i class="fa fa-github"></i>
            </a>
          </h2>
        </div>
        <div class="col-md-4 col-lg-5 col-lg-offset-1">
          <h4>
            <span>Archethought, Inc</span>
            <small> - <a href="/aboutus">About us</a></small>
          </h4>
          <div>
            <p>
              <font class="text-gray-light">We</font>
              <span class="text-gray-light" style="-webkit-text-stroke-width: 0px; background-color: transparent; display: inline !important; float: none; font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;"> are a team of passionate people whose goal is to improve everyone's life through smart products that improve decision making.</span>
            </p>
            <p>
              <font class="text-gray-light">Our products are designed for businesses and communities, small to medium size, willing to take a disruptive approach to becoming a little bit smarter when making decisions.&nbsp;</font>
            </p>
          </div>



        </div>
      </div>
    </div>
  <div class="container mt16 mb8">

        <div class="pull-left text-muted">
            Copyright &copy; 2020-2021 <span>Archethought, Inc</span>
        </div>
    </div>
        </footer>
