<!DOCTYPE html>
<html lang="en-US" data-website-id="1" data-oe-company-name="Archethought, Inc">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <title>Archethought, Inc.</title>
        <link type="image/x-icon" rel="shortcut icon" href="/static/image/website/1/favicon/"/>
        <meta name="description" content="We are a team of passionate people whose goal is to improve everyone's life through innovative products."/>
        <meta name="keywords" content="urban informatics, startup, smart city, artificial intelligence"/>
        <meta property="og:title" content="About us"/>
        <meta property="og:site_name" content="Archethought, Inc"/>
        <link rel="alternate" hreflang="en" href="http://www.archethought.com/aboutus"/>
        <link href="static/css/web.assets_common.0.css" rel="stylesheet"/>
        <link href="static/css/web.assets_frontend.0.css" rel="stylesheet"/>
        <link href="static/css/web.assets_frontend.1.css" rel="stylesheet"/>
        <script  type="text/javascript" src="static/js/web.assets_common.js"></script>
        <script  type="text/javascript" src="static/js/web.assets_frontend.js"></script>
    </head>
    <body>
        <div id="wrapwrap" class="">
            {% include 'web/header.html' %}
            <main>
                <div id="wrap">
                    <div class="oe_structure">
                        <section class="s_text_block_image_fw oe_img_bg oe_custom_bg" style="background-position: 47.82% 21.65%; background-image: url('/static/image/people-coffee-notes-tea.jpg');">
                            <div class="container">
                                <div class="row">
                                    <div class="bg-black-50 mb92 mt92 col-md-7">
                                        <h2 style="font-size:62px">
                                            <font class="text-white">Enabling Caring Community Solutions</font>
                                        </h2>
                                        <h4>
                                            <font class="text-white">With Enterprise Impacts</font>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="mb16 mt16">
                            <div class="container">
                                <div class="row">
                                    <div class="mb48 col-md-4 col-md-offset-4 mt16">
                                        <p>
                                            <font class="text-gray-light"></font>
                                        </p>
                                        <h3 class="text-center text-muted" style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                                            <font class="text-gray-light">What We Do And Why</font>
                                        </h3>
                                        <p style="background-color: rgb(248, 248, 248);"><font class="text-gray-light">We</font>&nbsp;<span class="text-gray-light" style="background-color: transparent; float: none; font-variant-numeric: normal; font-variant-east-asian: normal; display: inline !important;">are a team of passionate people transforming services.</span></p>
                                        <p style="background-color: rgb(248, 248, 248);">
                                            <font class="text-gray-light">Our platform engages communities at all levels to help each other.&nbsp;</font>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="oe_structure">
                        <section class="s_company_team mt16 mb48">
                            <div class="container">
                                <h1 class="text-center mb32">
                                    <font class="text-primary">
                                    Meet the Executive Team
                                    &nbsp;</font>
                                </h1>
                                <div class="row">
                                    <div class="col-md-6 mb32">
                                        <div class="row s_no_resize_cols">
                                            <div class="col-md-4">
                                                <img class="img-responsive img-circle center-block shadow" alt="Monica Marics" src="/static/image/m.jpg" data-original-title=""/>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Monica Marics, CEO.&nbsp;<a href="https://www.linkedin.com/in/mmarics/" target="_blank"><span title="" class="fa fa-linkedin-square fa-1x text-primary" style="" data-original-title=""></span></a></h4>
                                                <p class="text-muted"> Monica has over 30 years of experience delivering software and hardware products for B2C, B2B and B2G markets.  With executive leadership positions in Operations, Product Management, and Engineering, Monica's focused systems approach builds the scaffolding to enable fast, sustained growth.  Monica ongoing work with Archethought includes organizational development, business processes, and product and market strategy.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb32">
                                        <div class="row s_no_resize_cols">
                                            <div class="col-md-4">
                                                <img class="img-responsive img-circle center-block shadow" alt="Dixon Dick" src="/static/image/dixon.jpg" data-original-title=""/>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Dixon Dick, President, CTO&nbsp;<a href="https://www.linkedin.com/in/dixondick/" target="_blank"><span title="" class="fa fa-linkedin-square fa-1x text-primary" style="" data-original-title=""></span></a></h4>
                                                <p class="text-muted"> Founder and chief visionary, Dixon is the driving force behind Archethought and the Customer Experience. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="s_company_team mb8">
                            <div class="container">
                                <h1 class="text-center mb32">
                                    <font class="text-primary" style="">Meet the Advisory Team</font>
                                </h1>
                                <div class="row">
                                    <div class="col-md-6 mb32">
                                        <div class="row s_no_resize_cols">
                                            <div class="col-md-4">
                                                <img class="img-responsive img-circle center-block shadow" aria-describedby="tooltip450268" alt="Tom Darcy" src="/static/image/darcy.jpg" data-original-title=""/>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Tom Darcy, Founder of Innovation Brokers &amp; Virtual Surroundings&nbsp;<a href="https://www.linkedin.com/in/thomas-p-darcy/" target="_blank"><span title="" class="text-primary fa fa-linkedin-square fa-1x" style="" data-original-title=""></span></a></h4>
                                                <p class="text-muted"> Tom is an accomplished innovator, thought leader and strategy advisor with award winning accomplishments in Social impact programs for STEM, Resiliency, Sustainability, and Smarter Cities.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb32">
                                        <div class="row s_no_resize_cols">
                                            <div class="col-md-4">
                                                <img class="img-responsive img-circle center-block shadow" aria-describedby="tooltip722336" alt="JOhn Rokos" src="/static/image/rokos.jpg" data-original-title=""/>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>John Rokos, Founder, CEO &amp; Product Architect of Enemy Tree&nbsp;<a href="https://www.linkedin.com/in/johnrokos/" target="_blank"><span class="fa fa-linkedin-square fa-1x text-primary" style=""></span></a>&nbsp;</h4>
                                                <p class="text-muted"> An innovative and passionate startup leader, JOhn has worked for great brands such as BIC and Tesla. Focusing on the art as much as the science, he has a deep passion for quality, design, great products, and world-class user experiences that change, and enrich our lives.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb32">
                                        <div class="row s_no_resize_cols">
                                            <div class="col-md-4">
                                                <img class="img-responsive img-circle center-block shadow" alt="Brian Zahn" src="/static/image/zahn.jpg" data-original-title=""/>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Brian Zahn, Business Development Executive at ZC Analytics&nbsp;<a href="https://www.linkedin.com/in/brianzahn1/" target="_blank"><span class="fa fa-linkedin-square fa-1x text-primary" style=""></span></a></h4>
                                                <p class="text-muted"> Brian, with his international experience, has over 20 years business development and professional experience with clinical device, pharmaceutical and life sciences technology. To add color to his career, Brian also is an investor and consultant for Storyvine Inc.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb32">
                                        <div class="row s_no_resize_cols">
                                            <div class="col-md-4">
                                                <img class="img-responsive img-circle center-block shadow" alt="Brian Zahn" src="/static/image/henry-wright.jpg" data-original-title=""/>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Henry Wright, Geospatial Enterprise Solutions, CoreLogic, Startup Adviser.&nbsp;<a href="https://www.linkedin.com/in/henrylwright/" target="_blank"><span class="fa fa-1x fa-linkedin-square text-primary" style="" data-original-title="" title=""></span></a></h4>
                                                <p class="text-muted"> Henry, with a diverse background has over 15 years experience in technology services, product management, and market development both domestically and globally.&nbsp; To add more diversity, Henry also has deep knowledge and experience with Lean and Agile methodologies.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb32">
                                        <div class="row s_no_resize_cols">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="jumbotron s_button bg-gray-lighter">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-9">
                                        <p class="mb0"><strong>Developing Relationships</strong>&nbsp;</p>
                                        <p class="mb0">Contact us to learn about our solutions. </p>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="btn btn-primary btn-lg pull-right mt8" href="/contactus">
                                        <span class="o_default_snippet_text">Contact Us Now</span>
                                        <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
            {% include 'web/footer.html' %}
        </div>
    </body>
</html>
